/*div {
	background-color: red;
	color: white;
	font-size: 32px;
	text-align: center;
	font-weight: bold;
}*/

.odd {
	background-color: rgb(255, 167, 167);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#two {
	color: #0000ff;
	font-size: 36px;
}

#four {
	background-color: hsl(120, 100%, 75%);
	font-weight: bold;
}

.dark,
.light {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
}

.dark {
	background-color: black;
	color: white
}

.light {
	background-color: pink;
}

.avatar.proportioned {
	width: 300px;
}

.avatar.distorted {
	height: 400px;
	width: 200px;
}

.container .text {
	background-color: yellow;
	color: #E00000;
	font-size: 20px;
	text-align: center;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

.para,
.small-para {
	color: hsl(0, 0%, 0%);
	font-weight: 800;
}

.para {
	font-size: 22px;
}

.button {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-size: 20px;
}


div.text {
	color: rgb(0, 0, 0);
	font-size: 22px;
	font-weight: 100;
}

.small-para {
	font-size: 14px;
	font-weight: 800;
}

#confirm-button {
	background-color: green;
	color: white;
	font-weight: bold;
}

div .child {
	color: rgb(0, 0, 0);
	font-weight: 800;
	font-size: 14px;
}